@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    scroll-behavior: smooth;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text-white {
    color: white;
}

/*    #0D1321    */
/* Universal */


.nav-div {
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #0D1321;
    font-size: 28px;
    font-weight: 900;
}

.resume-btn {
    font-size: 20px;
    font-weight: 700;
    padding: 17px 24px;
    background-color: transparent;
    border: 1 px solid #0D1321;
    border-radius: 7px;
}


/* Hero section */

#hero-main {
    background-image: url(/images/Hero-bg.png);
    padding: 65px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-contents {
    text-align: center;
}

.hero-img {
    padding-top: 30px;

}

.hero-headline {
    color: #0D1321;
    font-size: 48px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 20px;

}

.hero-tagline {
    color: #565963;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 21px 24px;
    background-color: #0D1321;
    border-radius: 7px;
    border: none;
}


/* web part start */


.web-main-div {
    margin: 70px auto;
    padding: 80px 0;
    /* background-color: #a2baf1; */
    border-radius: 7px;
    text-align: center;
    background-color: #fafafa;
}

.web-h2 {
    color: #0D1321;
    font-size: 32px;
    font-weight: 900;
    padding: 20px 0;
}

.web-p {
    color: #565963;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 15px 140px;
}





/* web-card */

.dev-card {
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 20px 45px;
    margin: 40px 140px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border-radius: 10px;
}

.dev-card-2 {
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 20px 45px;
    margin: 40px 140px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: space-between;
    border-radius: 10px;
}

.dev-text {
    width: 60%;
    text-align: left;
}

.dev-img {
    width: 40%;
}

.card-h2 {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 800;
}

.card-p {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
    color: #565963;
}

.learn-btn {
    margin: 20px 0;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #0D1321;
    background-color: transparent;
}

/* web card end */





/* inspire part start */

.text-inspire {
    text-align: center;
}

.inspire-h2 {
    color: #0D1321;
    font-size: 32px;
    font-weight: 900;
    padding: 20px 0;

}

.inspire-p {
    color: #565963;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 15px 140px;
}

.iframe-thumb {
    border-radius: 16px;
}


.iframe-inspire {
    text-align: center;
    padding: 30px;
    border: 2px solid #cfd0d4;
    border-radius: 16px;
}

/* inspire part end */


/* current target start */

.current-target-text {
    text-align: center;
    padding: 40px 0;
    margin-top: 100px;
}



.current-h2 {
    color: #0D1321;
    font-size: 32px;
    font-weight: 900;
    padding: 20px 0;
}


.current-p {
    color: #565963;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    padding: 15px 140px;
}

/* current card */
.card-div-main {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 110px;
}


.card-div {
    background-color: #fff6f4;
    padding: 40px;
    border-radius: 16px;
}

.card-div-2 {
    background-color: #f2f6fe;
    padding: 40px;
    border-radius: 16px;
}

.card-div-3 {
    background-color: #fffdf2;
    padding: 40px;
    border-radius: 16px;
}

.current-target-h2 {
    font-size: 20px;
    font-weight: 900;
    color: #0D1321;

}

.current-target-p {
    font-size: 16px;
    font-weight: 400;
    color: #565760;
}

.current-target-a {
    font-size: 16;
    font-weight: 800;
    color: #0D1321;
}

.image-card,
.current-target-h2,
.current-target-p,
.current-target-a {
    padding-bottom: 20px;
}



/* current target end */


/* my next target part start */

.next-target-text {
    margin: 50px 0;
    text-align: center;
}

.next-card-main {
    align-items: center;
    display: flex;
    gap: 30px;
    padding: 35px;
    margin-bottom: 30px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.next-h2 {
    font-size: 32px;
    font-weight: 900;
    color: #0D1321;
    padding-bottom: 40px;
}

.next-p {
    font-size: 16;
    font-weight: 400;
    color: #565760;
    padding-bottom: 40px;
}

.next-card-h2 {
    font-size: 20px;
    font-weight: 900;
    color: #0D1321;
    padding-bottom: 20px;
}

.next-card-p {
    font-size: 16px;
    font-weight: 400;
    color: #565a64;
    padding-bottom: 20px;
}

.next-card-a {
    font-size: 16;
    font-weight: 800;
    color: #0D1321;
    padding-bottom: 20px;
}

/* my next target part end */




/* I need support start */
.need-support-main {
    background-image: url(/images/unity.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    margin-top: 90px;
    margin-bottom: 40px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.overlay {
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000000a4;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    z-index: -2;

}

.content-part-support {
    text-align: center;

}



.support-h2 {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 30px;
}

.support-p {
    padding: 0 216px;
    font-size: 16px;
    font-weight: 400;
    color: #b6b8ba;
}

.input-part {
    padding-top: 30px;
}


.input-feedback {
    padding: 20px 20px;
    border-radius: 8px;
    border: none;
    min-width: 500px;
}

.input-feedback::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #9da1a6;
}

.btn-submit-feedback {
    border: none;
    border-radius: 8px;
    padding: 17px 20px;
    background-color: white;
    color: #0D1321;
    font-size: 20px;
    font-weight: 700;
}

/* I need support end */

/* footer */
#footer {
    background-color: #f7f7f7;
}

.footer-div {
    margin-top: 80px;
    align-items: center;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.footer-h2 {
    font-size: 20px;
    font-weight: 700;
    color: #0D1321;
}

.social-links {
    display: flex;
    gap: 20px;
}